body {
    background-color: #993399;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

h1, h2 {
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.input-container {
    background-color: #460163;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    margin: 20px 0;
    width: 100%;
    max-width: 600px;
}

input[type="text"], textarea {
    width: calc(125% - 190px);
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: 2px solid #ffffff;
    font-size: 16px;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #993399;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.output {
    margin-top: 20px;
    font-size: 18px;
    color: #ffffff;
    font-weight: bold;
}

.carousel {
    width: 100%;
    max-width: 640px;
    margin: 20px 0;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide {
    min-width: 100%;
    box-sizing: border-box;
    background-color: #460163;
    color: #ffffff;
    padding: 30px;
    text-align: center;
    font-size: 18px;
}

.carousel-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.carousel-controls button {
    background-color: #ffffff;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}

.carousel-controls button:hover {
    background-color: #993399;
}