@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

:root {
     --color-light-50: #f8fafc;
    --color-purple-50: #ff8800;
    --color-purple-100: #942db9;
    --color-purple-200: #460163;
    --color-gradient: linear-gradient(90deg, var(--color-purple-50), var(--color-purple-100), var(--color-purple-200));
}

*{
    margin: 0;
    padding: 0;
    font-family: regular;
}

@font-face {
    font-family: title;
    src: url('./font/title.woff2');
}

@font-face {
    font-family: regular;
    src: url('./font/regular.woff2');
}

body{
    background: var(--color-gradient);
}

.container{
    width: 380px;
    padding: 0px 28px;
    margin: auto;
    text-align: center;
}

h1{
    color: rgb(0, 0, 0);
    font-family: title;
    font-size: 45px;
}

form{
    padding: 20px;
    text-align: left;
    margin-top: 15px;
}

input{
    width: 100%;
    padding: 12px 0px;
    padding-left: 8px;
    margin: 8px 0px;
    border-radius: 6px;
    background: none;
    border: 1px solid #000000;
    color: rgb(255, 255, 255);
}

input:hover{
    border: 1px solid white;
}

form a{
    color: #000000;
    font-size: 15px;
}

.next{
    all: unset;
    width: 320px;
    padding: 12px;
    margin: 20px 0px;
    background: #000000;
    color: #ffffff;
    font-weight: 600;
    text-align: center;
    border-radius: 32px;
    cursor: pointer;
}

button.next:hover {
    background-color: #ffffffac;
}

.line{
    width: 100%;
    height: 0.3px;
    margin: 16px 0px;
    text-align: center;
    background: #000000;
    position: relative;
}

.line::before{
    content: "ou";
    width: 30px;
    height: 30px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 100%;
    background: #121212;
    color: white;
    border-radius: 80%;
    line-height: 30px;
}

.icon-btn{
    all: unset;
    width: 320px;
    padding: 12px;
    margin: 4px 0px;
    border: 1px solid #000000;
    color: rgb(255, 255, 255);
    font-family: title;
    font-weight: 600;
    text-align: center;
    border-radius: 32px;
    cursor: pointer;
    overflow: hidden;
}

.icon-btn img{
    width: 20px;
    float: left;
    margin-left: 12px;
}

.icon-btn:hover{
    border: 1px solid white;
}

.term{
    margin-top: 24px;
    font-size: 12px;
    color: #000000;
    text-align: center;
}

.privacy{
    color: #000000;
    font-size: 12px;
}
