@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

:root {
     --color-light-50: #f8fafc;
    --color-purple-50: #ff8800;
    --color-purple-100: #942db9;
    --color-purple-200: #460163;
    --color-gradient: linear-gradient(90deg, var(--color-purple-50), var(--color-purple-100), var(--color-purple-200));
}

*{
    margin: 0;
    padding: 0;
    font-family: regular;
}

body {
    background: var(--color-gradient);
    color: #ffffff;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}
.card {
    background-color: #46016372;
    border: 2px solid #000000;
    border-radius: 10px;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    max-width: 600px;
}
.card h1, .card h2 {
    margin: 0;
}
.card p {
    margin: 10px 0;
    color: #E0C3FC;
}
.highlight {
    color: #ff9100;
}