body {
    font-family: "Roboto", sans-serif;
    background-color: #460163;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    background-color: #ff8800;
    padding: 100px;
    border-radius: 5px;
    box-shadow: 0 0 60px #ff8800;
}
input[type="text"] {
    width:99%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}
input[type="password"]{
    width:99%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}
input[type="email"] {
    width:99%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}
button {
    width: 102%;
    padding: 10px;
    background-color: #942db9;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    cursor: pointer;
}
button:hover {
    background-color: #b947e2;
}
a {
    color: #ffffff;
    text-decoration: none;
}