* body {
    font-family: Arial, sans-serif;
    background-color: #3f0056;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    background-color: #460163;
    padding: 70px;
    border-radius: 5px;
    box-shadow: 0 0 40px rgb(255, 255, 255);
}
input[type="text"] {
    width:99%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}
input[type="password"]{
    width:99%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}
input[type="email"] {
    width:99%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}
button {
    width: 102%;
    padding: 10px;
    background-color: #ff9100;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    cursor: pointer;
}
button:hover {
    background-color: #dc8310;
}
a {
    color: #ffffff;
    text-decoration: none;
}