body {
    background-color: #460163;
    color: white;
    font-family: "Roboto", sans-serif;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}
.logo img {
    width: 85px;
    height: 85px;
}
.nav-links {
    display: flex;
    gap: 140px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav-links li {
    margin-right: 20px;
}
.nav-links:hover {
    text-decoration: underline;
}
.search-bar {
    margin-right: 20px;
}
.user-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    margin-right: 20px;
}
.user-icon img {
    border-radius: 30%;
    width: 50px;
    height: 50px;
}
#footer {
	background: #3f0056;
	color: white;
	padding: 40px 0;
}
#footer .footer-content {
	display: flex;
	width: 100%;
	margin: auto;
	justify-content: space-between;
}
#footer .footer-content .footer-menu {
	margin: 0 40px;
	list-style: none;
}

#footer .footer-content .footer-menu .footer-menu-item {
	margin: 10px 0;
	transition: all 300ms ease;
}
#footer .footer-content .footer-menu .footer-menu-item:hover {
	color: var(--default-green);
	cursor: pointer;
}
#footer .footer-content .footer-menu p {
	font-weight: bold;
	text-transform: uppercase;
	color: #ffffffb0;
	font-size: 0.8rem;
}
.footer-info {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	width: 30%;
	margin: auto;
	font-weight: bold;
	color: #919496;
	font-size: 0.80rem;
	padding-top: 50px;
}
.footer-info .footer-info-items {
	display: flex;
	list-style: none;
}
.footer-info .footer-info-items .footer-info-item {
	margin: 0 10px;
	transition: all 300ms ease;
}
.footer-info .footer-info-items .footer-info-item:hover {
	color: var(--default-green);
	cursor: pointer;
}
a {
    color: #ffffff;
    text-decoration: none;
}
