body {
    background-color: #460163;
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .login-container {
    background-color: #ff8800;
    padding: 100px;
    border-radius: 5px;
    box-shadow: 0 0 60px #ff8800;
    text-align:center;
    color: #ffffff;
    width: 200px;
  }
  .login-container h2 {
    margin-bottom: 60px;
    font-size: 2rem;
  }
  .input-group {
    margin-bottom: 15px;
  }
  .input-group input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  .input-group a {
    color: #ffffff;
    text-decoration: none;
    font-size: 0.9rem;
    display: flex;
  }
  button {
    width: 80%;
    padding: 10px;
    background-color: #942db9;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    cursor: pointer;
}
button:hover {
    background-color: #b947e2;
}
a {
    color: #ffffff;
    text-decoration: none;
}